<form action="/books/<%= book.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="field">
        <label class="label" for="book_name">Title</label>
        <input class="input" type="text" name="book_name" id="book_name" value="<%= book.book_name %>">
    </div>
    <div class="field">
        <label class="label" for="book_author">Author</label>
        <input class="input" type="text" name="book_author" id="book_author" value="<%= book.book_author %>">
    </div>
    <div class="field">
        <label class="label" for="blurb">Blurb</label>
        <input class="input textarea" type="text" name="blurb" id="blurb" value="<%= book.blurb %>"></input>
        <p class="help">The blurb should include some general information about the book.</p>
    </div>
    <div class="field">
        <label class="label" for="cover_image">Cover Image</label>
        <input class="input" type="text" name="cover_image" id="cover_image"  value="<%= book.cover_image %>">
        <p class="help">This should be a url to the image, hosted online.</p>
    </div>
    <button name="button">Update Book</button>
</form>
