<form action="/books/<%= book.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div>
        <label for="book_name">Title</label>
        <input type="text" name="book_name" id="book_name" value="<%= book.book_name %>">
    </div>
    <div>
        <label for="book_author">Author</label>
        <input type="text" name="book_author" id="book_author" value="<%= book.book_author %>">
    </div>
    <div>
        <label for="blurb">Blurb</label>
        <input type="text" name="blurb" id="blurb" value="<%= book.blurb %>">
    </div>
    <div>
        <label for="cover_image">Cover Image</label>
        <input type="text" name="cover_image" id="cover_image"  value="<%= book.cover_image %>">
    </div>
    <button name="button">Update Book</button>
</form>
