<div class="columns">
  <div class="column is-one-third">
    <figure class="image is-4by5">
      <img src='<%= book.cover_image %>' alt='<%= book.book_name %>'/>
    </figure>
  </div>
  <div class="column">
    <article class="content">
      <h1><%= book.book_name %></h1>
      <h3 class="subtitle"><em>By  <%= book.book_author %></em></h3>
      <p><%= book.blurb %></p>
      <div class="field is-grouped is-grouped-multiline">
        <a class="button control" href='<%= book.id %>/edit'>Edit book</a>
        <form action="/books/<%= book.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button control is-danger" name="button">Delete Book</button>
        </form>
      </div>
    </article>
  </div>
</div>
