<h2>Book View</h2>

<h4>  <%= book.book_name %></h4>
<h4>  <%= book.book_author %></h4>
<img src='<%= book.cover_image %>' alt='<%= book.book_name %>' />

<a href='<%= book.id %>/edit'>Edit book</a>

<form action="/books/<%= book.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button name="button">Delete Book</button>
</form> 
