<div class="columns">
  <div class="column is-one-third">
    <figure class="image is-4by5">
      <img src='<%= book.cover_image %>' alt='<%= book.book_name %>'/>
    </figure>
  </div>
  <div class="column">
    <article class="content">
      <h1><%= book.book_name %></h1>
      <h3 class="subtitle"><em>By  <%= book.book_author %></em></h3>
      <p><%= book.blurb %></p>
      <div class="field is-grouped is-grouped-multiline">
        <a class="button control" href='<%= book.id %>/edit'>Edit Book</a>
        <form action="/books/<%= book.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button control is-danger is-outlined" name="button">
            <span>Delete Book</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </form>
      </div>
    </article>
    <form method="POST" action="/books/<%= book._id %>/comments">
      <p class="help">Write a comment.</p>
      <textarea class="input" name="content" required></textarea>
      <div class="field buttons is-right">
        <button class="button is-success is-small control" name="button">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
          <span>Post Comment</span>
        </button>
      </div>
    </form>
    <ul>
      <% book.comments.forEach(comment => { %>
        <li><%= comment.content %></li>
        <li><%= comment.comment_creator.name %></li>
        <% if(comment.comment_creator) { %>
        <% } %>
      <% }) %>
    </ul>
  </div>
</div>
