<div class="columns">
  <div class="column is-one-third">
    <figure class="image is-4by5">
      <img src='<%= book.cover_image %>' alt='<%= book.book_name %>'/>
    </figure>
  </div>
  <div class="column">
    <article class="content">
      <h1><%= book.book_name %></h1>
      <h3 class="subtitle"><em>By  <%= book.book_author %></em></h3>
      <p><%= book.blurb %></p>
      <% if (book.likes) { %>
        <p><i class="far fa-heart fa-lg"></i><strong> <%= book.likes %></strong> </p>
      <% } else { %>
        <p><i class="far fa-heart fa-lg"></i><strong> 0</strong> </p>
        <div class="message is-warning content">
          <div class="message-body">
            <p>Be the first to like this book by hitting the like button below.</p>
          </div>
        </div>
      <% } %>
      <form action="/books/<%= book.id %>/likes" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <button class="button is-rounded is-success" id="like-button">Like</button>
      </form>

      <p></p>
      <div class="field is-grouped is-grouped-multiline">
        <a class="button control" href='<%= book.id %>/edit'>Edit Book</a>
        <form action="/books/<%= book.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button control is-danger is-outlined" name="button">
            <span>Delete Book</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </form>
      </div>
    </article>
    <form method="POST" action="/books/<%= book._id %>/comments">
      <p class="help">Write a comment.</p>
      <textarea class="input" name="content" required></textarea>
      <div class="field buttons is-right">
        <button class="button is-success is-small control post-comment" name="button">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
          <span>Post Comment</span>
        </button>
      </div>
    </form>

    <% book.comments.forEach(comment => { %>
      <article class="message is-info columns book-comment">
        <p class="message-body column is-four-fifths">
          <%= comment.content %> <em>
          <% if(comment.comment_creator) { %>
            by <a href="/users/<%= comment.comment_creator.id %>" ><%= comment.comment_creator.name %></a></em>
          <% } %>
        </p>
        <form class="column" action="/books/<%= book.id %>/comments/<%= comment.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button control is-danger is-outlined is-small delete-comment" name="button">
            <span>Delete Comment</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </form>
      </article>
    <% }) %>
  </div>
</div>
