<form action="/users/<%= user.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="field">
        <label class="label" for="name">Name</label>
        <input class="input" type="text" name="name" id="name" value="<%= user.name %>">
    </div>
    <div class="field">
        <label class="label" for="image">Profile Image</label>
        <input class="input" type="text" name="image" id="image" value="<%= user.image %>">
    </div>
    <div class="field">
        <label class="label" for="email">Email</label>
        <input class="input" type="text" name="email" id="email" value="<%= user.email %>">
    </div>
    <div class="field">
        <label class="label" for="bio">Bio</label>
        <input class="input textarea" type="text" name="bio" id="bio" value="<%= user.bio %>">
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <input class="input" type="text" name="password" id="password"  value="<%= user.password %>">
    </div>
    <button name="button">Update Profile</button>
</form>
