<h1>Community</h1>
<p>This is where I will show all user profiles.</p>
<br>
<div class="columns is-multiline">
  <% users.forEach((user) => { %>
    <div class="card column is-half">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="<%= user.image %>" alt="<%= user.name %>">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><a href='/users/<%= user.id %>'><%= user.name %></a></p>
            <p class="subtitle is-6"><%= user.email %></p>
            <p class="subtitle is-6"><%= user.password %></p>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
