<div class="columns">
  <div class="column is-one-third">
    <figure class="image is-4by5">
      <img src="<%= user.image %>" alt="<%= user.name %> profile image">
    </figure>
  </div>
  <div class="column">
    <article class="content">
      <h1><%= user.name %></h1>
      <h3><%= user.email %></h3>
      <p><%= user.bio %></p>
      <p><%= user.password %></p>
      <div class="field is-grouped is-grouped-multiline">
        <a class="button control" href="/users/<%= user.id %>/edit">Edit Profile</a>
        <form action="/users/<%= user.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button control is-danger" name="button">Delete Profile</button>
        </form>
      </div>
    </article>
  </div>
</div>
