<div class="columns">
  <div class="column is-one-third">
    <figure class="image is-4by4">
      <img src="<%= user.image %>" alt="<%= user.name %> profile image">
    </figure>
  </div>
  <div class="column">
    <article class="content">
      <h1><%= user.name %></h1>
      <h3><%= user.email %></h3>
      <p><%= user.bio %></p>
      <% if(user.followers.length != 0) { %>
        <p>Followers: <%= user.followers.length %></p>
      <% } else { %>
        <p>Followers: <%= user.followers.length %></p>
        <div class="message is-warning content">
          <div class="message-body">
            <p>Be the first person to follow this user!</p>
          </div>
        </div>
      <% } %>


      <form action="/users/<%= user.id %>/follow" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <button class="button is-rounded is-success" id="follow-button">Follow</button>
      </form>
      <p></p>
      <div class="field is-grouped is-grouped-multiline">
        <a class="button control" href="/users/<%= user.id %>/edit">Edit Profile</a>
        <form action="/users/<%= user.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button control is-danger is-outlined" name="button">
            <span>Delete Profile</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </form>
      </div>
    </article>


    <% bookCommentPairs.forEach(pair => { %>
      <% if (pair[0][1].length !== 0){ %>
        <article class="message is-info content">
          <div class="message-body">
            <a href="/books/<%= pair[0][2] %>">
              <h6 ><%= pair[0][0] %></h6>
            </a>
            <ol>
              <% pair[0][1].forEach(comment => { %>
                <li><%= comment %></li>
              <% }); %>
            </ol>
          </div>
        </article>
      <% } %>
    <% }); %>
  </div>
</div>
