<h1>User Profile</h1>
<img src="<%= user.image %>" alt="<%= user.name %> profile image">
<h2><%= user.name %></h2>
<h2><%= user.email %></h2>
<p><%= user.password %></p>

<a href="/users/<%= user.id %>/edit">Edit Profile</a>

<form action="/users/<%= user.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button name="button">Delete Profile</button>
</form>
